<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}

{% block alert %}

{% if alert != "" %}
<p class="mui--text-display1 mui--text-accent">{{alert}}</p>
{% endif %}

{% endblock %}

{% block content %}

<form action="/add_user" method="POST" class="mui-form">
    <div class="mui-container">
        <div class="mui-textfield">
            <label for="name">User Name</label>
            <input type="text" id="name" name="name" value="" required>
        </div>

        <div class="mui-textfield">
            <label for="uid">User ID</label>
            <input type="number" id="uid" name="uid" value="" required>
        </div>

        <input class="mui-btn mui-btn--raised mui-btn--primary" type="submit" name="Add Book" value="Add Item">
    </div>
</form>

{% endblock %}
