<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}

{% block content %}

<table class="mui-table mui-table--bordered">
    <thead>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>ISBN</th>
    </thead>

    <tbody>
        {% for i in items %}
        <tr>
            <td>{{i.title}}</td>
            <td>{{i.author}}</td>
            <td>{{i.category}}</td>
            <td>{{i.isbn}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}